<?php 
/* First step: get the latest posts, the URL should be like your_controller_name/method_name/params */
$videos = $this->requestAction('videos/features/1');
?>
 

  <table data-max="15" class="responsive asphalt responsiveTable" style="width: 100%; font-size: 15px;">
<tbody>
<?php foreach ($videos as $video): ?>
<tr>
                      <td style="width: 100%;"><?php 
	if($video['Video']['filename'] != NULL) {
				echo "<video  poster='/nerdviral/webroot/img/Speed.jpg' src=".$this->webroot . $video['Video']['filename']."  controls
  preload='auto'  class='video-js vjs-default-skin one' data-setup='{}' width='100%'  />";
			}else {
				echo 'No Video Error';
			}
			?>		&nbsp;</td>
                    </tr>
<?php endforeach; ?>
     </tbody>
                  
      </table>
	
