<?php 
/* First step: get the latest posts, the URL should be like your_controller_name/method_name/params */
$gossips = $this->requestAction('gossips/fgossip/1');
?>
 

 
<ul>
<?php foreach ($gossips as $gossip): ?>
	<h3><?php echo h($gossip['Gossip']['title']); ?></h3> <br/> <?php echo h($gossip['Gossip']['description']); ?>
<?php endforeach; ?>
</ul>