<?php 
/* First step: get the latest posts, the URL should be like your_controller_name/method_name/params */
$tables = $this->requestAction('tables/ltable/12');
?>
 

 <div class="table-condensed">
  <table class="table">
      <thead>
                    <tr>
                    <th><?php echo __('Position'); ?></th>
					<th><?php echo __('Team'); ?></th>
					<th><?php echo __('Pts'); ?></th>
                    </tr>
      </thead>
                  <tbody>
                 	 <?php foreach ($tables as $table): ?>
                    <tr>
                      <td><?php echo h($table['Table']['position']); ?>&nbsp;</td>
	 				  <td ><?php echo $this->Html->link($table['Team']['team'], array('controller' => 'teams', 'action' => 'view', $table['Team']['id'])); ?>&nbsp;</td>
	 				  <td ><?php echo h($table['Table']['point']); ?>&nbsp;</td>
                    </tr>
                    <?php endforeach; ?>
                  </tbody>
                  
      </table>
	

	

	
	 


