<div class="contain2">

<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
     <video id="my_video_1" class="video-js vjs-default-skin" controls
  preload="auto" width="360" height="240" poster="img/Speed.jpg"
  data-setup="{}">
  <source src="files/my_vide22o.mp4" type='video/mp4'>
  
 
</video>
      <div class="carousel-caption">
         <h3> adsasdas</h3>
         <p>asdsad</p>
      </div>
    </div>
    

      <div class="item">
     <video id="my_video_1" class="video-js vjs-default-skin" controls
  preload="auto" width="360" height="240" poster="img/Speed.jpg"
  data-setup="{}">
  <source src="files/my_video_VP8.webm" type='video/webm'>
  
 
</video>
      <div class="carousel-caption">
         <h3> adsasdas</h3>
         <p>asdsad</p>
      </div>
    </div>
    

    Best Malaysia Goals - Football - Bola Sepak
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

</div>