




<?php //echo $this->element('ads2'); ?>


<?php //echo $this->element('ads1'); ?>




<?php //echo $this->element('ads3'); ?>

        
<div class="container">
      <div class="padded">
        <div class="row">
          <div class="three fifths bounceInRight animated">
            <h1 class="zero museo-slab">Welcome to Peppermint Football League</h1>
            <p class="quicksand">Your Source for Local Football News</p>
          </div>
         
        </div>
      </div>

<div class="row">
   <div class="col-lg-8">
   <h4>Headlines</h4>
  <?php echo $this->element('fnew', array('cache'=>'1 hour')); ?>
</div>
   <div class="col-lg-4">
   <h4>Gossips</h4>
  <?php echo $this->element('fgossip', array('cache'=>'1 hour')); ?>
</div>
</div>
<div class="row">
    

        <div class="col-lg-4">
        
          <h1>Our latest Headlines</h1>
         

               <?php echo $this->element('lastheadlines', array('cache'=>'1 hour')); ?>

          </div>
         
         
         <div class="col-lg-4">
           <h1>Our Latest Video</h1>
            <?php echo $this->element('features', array('cache'=>'1 hour')); ?>
            <?php echo $this->element('lastvideos', array('cache'=>'1 hour')); ?>
            
          </div>
          
        
        <div class="col-lg-4">
          <h1>Our latest Gossips</h1>

            <?php echo $this->element('lastgossips', array('cache'=>'1 hour')); ?>
            
          </div>
          
        
      
    </div>
    <div class="row">
<div class="col-lg-4">

    
          
          
          </div>
          <div class="col-lg-4">

   
          
         
          </div>
          <div class="col-lg-4">

     <h3>League Table</h3>
          
           <?php echo $this->element('ltable'); ?>
          </div>
          </div>
</div>




